<% was_validated = menu.errors.any? %>

<%= form_with(model: menu, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for menu_name start -->
  <div class="form-group">
    <% menu_name_class = "form-control" %>
    <% menu_name_was_invalid = menu.errors.include?(:menu_name) %>

    <% if was_validated %>
      <% if menu_name_was_invalid %>
        <% menu_name_class << " is-invalid" %>
      <% else %>
        <% menu_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :menu_name %>
    <!-- Input for menu_name start -->
    <%= f.text_field :menu_name, class: menu_name_class, placeholder: "Enter menu name" %>
    <!-- Input for menu_name end -->
    <% if menu_name_was_invalid %>
      <% menu.errors.full_messages_for(:menu_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for menu_name end -->
  <!-- Label and input for menu_creator start -->
  <div class="form-group">
    <% menu_creator_class = "form-control" %>
    <% menu_creator_was_invalid = menu.errors.include?(:menu_creator) %>

    <% if was_validated %>
      <% if menu_creator_was_invalid %>
        <% menu_creator_class << " is-invalid" %>
      <% else %>
        <% menu_creator_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :menu_creator %>
    <!-- Input for menu_creator start -->
    <%= f.number_field :menu_creator, class: menu_creator_class, placeholder: "Enter menu creator" %>
    <!-- Input for menu_creator end -->
    <% if menu_creator_was_invalid %>
      <% menu.errors.full_messages_for(:menu_creator).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for menu_creator end -->
  <!-- Label and input for menu_description start -->
  <div class="form-group">
    <% menu_description_class = "form-control" %>
    <% menu_description_was_invalid = menu.errors.include?(:menu_description) %>

    <% if was_validated %>
      <% if menu_description_was_invalid %>
        <% menu_description_class << " is-invalid" %>
      <% else %>
        <% menu_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :menu_description %>
    <!-- Input for menu_description start -->
    <%= f.text_field :menu_description, class: menu_description_class, placeholder: "Enter menu description" %>
    <!-- Input for menu_description end -->
    <% if menu_description_was_invalid %>
      <% menu.errors.full_messages_for(:menu_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for menu_description end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
