<% was_validated = menu.errors.any? %>

<%= form_with(model: menu, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% menu_name_class = "form-control" %>
    <% menu_name_was_invalid = menu.errors.include?(:menu_name) %>

    <% if was_validated %>
      <% if menu_name_was_invalid %>
        <% menu_name_class << " is-invalid" %>
      <% else %>
        <% menu_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :menu_name %>
    <%= f.text_field :menu_name, class: menu_name_class, placeholder: "Enter menu name" %>
    <% if menu_name_was_invalid %>
      <% menu.errors.full_messages_for(:menu_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :menu_creator, value: current_business_account.id %>
  <div class="form-group">
    <% menu_description_class = "form-control" %>
    <% menu_description_was_invalid = menu.errors.include?(:menu_description) %>

    <% if was_validated %>
      <% if menu_description_was_invalid %>
        <% menu_description_class << " is-invalid" %>
      <% else %>
        <% menu_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :menu_description %>
    <%= f.text_field :menu_description, class: menu_description_class, placeholder: "Enter menu description" %>
    <% if menu_description_was_invalid %>
      <% menu.errors.full_messages_for(:menu_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
