<!-- Form recipe_menu_join start -->
<%= form_with(model: @recipe_menu_join, local: true) do |f| %>
<!-- Form recipe_menu_join end -->

  <!-- Label and input for menu_id start -->
  <!-- Input for menu_id start -->
  <%= f.hidden_field :menu_id, value: @menu.id %>
  <!-- Input for menu_id end -->
  <!-- Label and input for menu_id end -->

  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <%= f.label :recipe_id %>

    <!-- Input for recipe_id start -->
    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for recipe_id end -->
  </div>
  <!-- Label and input for recipe_id end -->

  <%= f.submit "Create recipe menu join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
