<%= search_form_for @q, :class => collapse_search_form, :id => "menus_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :menu_name_cont, "Menu name contains" %>
    <%= f.text_field :menu_name_cont, :class => "form-control", :placeholder => "Menu name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :menu_description_cont, "Menu description contains" %>
    <%= f.text_field :menu_description_cont, :class => "form-control", :placeholder => "Menu description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "BusinessAccount Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='menu_creatorsgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :menu_creators_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "BusinessAccount Created at greater than or equal to", :data => {:target => '#menu_creatorsgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#menu_creatorsgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='menu_creatorslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :menu_creators_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "BusinessAccount Created at less than or equal to", :data => {:target => '#menu_creatorslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#menu_creatorslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#menu_creatorsgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#menu_creatorslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#menu_creatorsgteqcreated_atPicker').on("dp.change", function (e) {
              $('#menu_creatorslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#menu_creatorslteqcreated_atPicker').on("dp.change", function (e) {
              $('#menu_creatorsgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/menus" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#menus_filters">
  Show filters
</a>
