<%= form_with(model: @recipe_menu_join, local: true) do |f| %>

  <%= f.hidden_field :menu_id, value: @menu.id %>

  <div class="form-group">
    <%= f.label :recipe_id %>

    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create recipe menu join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
