<%= form_with(model: @menu, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :menu_name %>

    <%= f.text_field :menu_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :menu_creator, value: @business_account.id %>

  <div class="form-group">
    <%= f.label :menu_description %>

    <%= f.text_field :menu_description, class: "form-control" %>
  </div>

  <%= f.submit "Create menu", class: "btn btn-block btn-outline-secondary" %>
<% end %>
