<% was_validated = recipe.errors.any? %>

<%= form_with(model: recipe, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :business_id, value: current_business_account.id %>
  <div class="form-group">
    <% recipe_name_class = "form-control" %>
    <% recipe_name_was_invalid = recipe.errors.include?(:recipe_name) %>

    <% if was_validated %>
      <% if recipe_name_was_invalid %>
        <% recipe_name_class << " is-invalid" %>
      <% else %>
        <% recipe_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_name %>
    <%= f.text_field :recipe_name, class: recipe_name_class, placeholder: "Enter recipe name" %>
    <% if recipe_name_was_invalid %>
      <% recipe.errors.full_messages_for(:recipe_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% recipe_description_class = "form-control" %>
    <% recipe_description_was_invalid = recipe.errors.include?(:recipe_description) %>

    <% if was_validated %>
      <% if recipe_description_was_invalid %>
        <% recipe_description_class << " is-invalid" %>
      <% else %>
        <% recipe_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_description %>
    <%= f.text_area :recipe_description, class: recipe_description_class, placeholder: "Enter recipe description" %>
    <% if recipe_description_was_invalid %>
      <% recipe.errors.full_messages_for(:recipe_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
