<%= form_with(model: @recipe_ingredient_join, local: true) do |f| %>

  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <div class="form-group">
    <%= f.label :ingredient_id %>

    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create recipe ingredient join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
