<%= form_with(model: @recipe_menu_join, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :menu_id %>

    <%= f.collection_select :menu_id, Menu.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <%= f.submit "Create recipe menu join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
