<!-- Form recipe_ingredient_join start -->
<%= form_with(model: @recipe_ingredient_join, local: true) do |f| %>
<!-- Form recipe_ingredient_join end -->

  <!-- Label and input for recipe_id start -->
  <!-- Input for recipe_id start -->
  <%= f.hidden_field :recipe_id, value: @recipe.id %>
  <!-- Input for recipe_id end -->
  <!-- Label and input for recipe_id end -->

  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <%= f.label :ingredient_id %>

    <!-- Input for ingredient_id start -->
    <%= f.text_field :ingredient_id, class: "form-control" %>
    <!-- Input for ingredient_id end -->
  </div>
  <!-- Label and input for ingredient_id end -->

  <%= f.submit "Create recipe ingredient join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
