<%= form_with(model: @order, local: true) do |f| %>

  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <div class="form-group">
    <%= f.label :customer_comments %>
    <%= f.text_area :customer_comments, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create order", class: "btn btn-block btn-outline-secondary" %>
<% end %>
