<%= form_with(model: @ingredient_supplier_join, local: true) do |f| %>

  <%= f.hidden_field :ingredient_id, value: @ingredient.id %>

  <div class="form-group">
    <%= f.label :supplier_id %>

    <%= f.collection_select :supplier_id, IngredientSupplier.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :preferred_supplier, class: "form-check-input" %>
    <%= f.label :preferred_supplier, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_cost %>

    <%= f.text_field :ingredient_cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :average_lead_time_in_days %>

    <%= f.text_field :average_lead_time_in_days, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_inventory %>

    <%= f.text_field :ingredient_inventory, class: "form-control" %>
  </div>

  <%= f.submit "Create ingredient supplier join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
