<%= form_with(model: @recipe_ingredient_join, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :recipe_id %>

    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :ingredient_id, value: @ingredient.id %>

  <%= f.submit "Create recipe ingredient join", class: "btn btn-block btn-outline-secondary" %>
<% end %>
