<div class="card mb-3">
  <h2 class="card-header h4">
    Order #<%= order.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Recipe</dt>
      <!-- Display recipe_id start -->
      <dd><%= order.recipe_id %></dd>
      <!-- Display recipe_id end -->

      <dt>Customer comments</dt>
      <!-- Display customer_comments start -->
      <dd><%= order.customer_comments %></dd>
      <!-- Display customer_comments end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back order, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link order start -->
      <div class="col">
        <%= link_to edit_order_url(order), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link order end -->

      <!-- Delete link order start -->
      <div class="col">
        <%= link_to order, method: :delete, data: { confirm: "Do you really want to delete this order?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link order end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(order.updated_at) %> ago
  </div>
</div>
