<div class="card mb-3">
  <h2 class="card-header h4">
    Recipe Menu Join #<%= recipe_menu_join.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Menu</dt>
      <dd>
        <% if @recipe_menu_join.menu.present? %>
          <%= link_to recipe_menu_join.menu, recipe_menu_join.menu %>
        <% end %>
      </dd>

      <dt>Recipe</dt>
      <dd>
        <% if @recipe_menu_join.recipe.present? %>
          <%= link_to recipe_menu_join.recipe, recipe_menu_join.recipe %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back recipe_menu_join, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_recipe_menu_join_url(recipe_menu_join), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to recipe_menu_join, method: :delete, data: { confirm: "Do you really want to delete this recipe_menu_join?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(recipe_menu_join.updated_at) %> ago
  </div>
</div>
