<div class="card mb-3">
  <h2 class="card-header h4">
    Ingredient Supplier Join #<%= ingredient_supplier_join.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Ingredient</dt>
      <dd>
        <% if @ingredient_supplier_join.ingredient.present? %>
          <%= link_to ingredient_supplier_join.ingredient, ingredient_supplier_join.ingredient %>
        <% end %>
      </dd>

      <dt>Supplier</dt>
      <dd>
        <% if @ingredient_supplier_join.supplier.present? %>
          <%= link_to ingredient_supplier_join.supplier, ingredient_supplier_join.supplier %>
        <% end %>
      </dd>

      <dt>Preferred supplier</dt>
      <dd><%= ingredient_supplier_join.preferred_supplier %></dd>

      <dt>Ingredient cost</dt>
      <dd><%= ingredient_supplier_join.ingredient_cost %></dd>

      <dt>Average lead time in days</dt>
      <dd><%= ingredient_supplier_join.average_lead_time_in_days %></dd>

      <dt>Ingredient inventory</dt>
      <dd><%= ingredient_supplier_join.ingredient_inventory %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back ingredient_supplier_join, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_ingredient_supplier_join_url(ingredient_supplier_join), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to ingredient_supplier_join, method: :delete, data: { confirm: "Do you really want to delete this ingredient_supplier_join?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(ingredient_supplier_join.updated_at) %> ago
  </div>
</div>
