<%= form_with(model: @ingredient_review, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :ingredient_reviewer %>

    <%= f.collection_select :ingredient_reviewer, BusinessAccount.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :ingredient_supplier_join_id, value: @ingredient_supplier_join.id %>

  <div class="form-group">
    <%= f.label :ingredient_supplier_rating %>

    <%= f.text_field :ingredient_supplier_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_supplier_review_description %>
    <%= f.text_area :ingredient_supplier_review_description, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create ingredient review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
